name: Terraform Test Workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  TF_LOG: INFO

jobs:
  terraform_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./IAC/AWS/template_terraform_aws_ec2

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9.2

      - name: Terraform Init
        run: terraform init
      - name: Terraform Run Test
        run: terraform test -test-directory=tests
